{%
  set classes = [
    'dis-n',
  ]
%}

{# <button{{ attributes.addClass('btn btn-lg btn-primary btn-block') }} >登录{{ children }}</button> #}
<button{{ attributes.addClass(classes) }} >登录{{ children }}</button>