{{ page.top }}
<div class="inner portfolio" id="projects">
    <div class="container">
        <h4>03</h4>
        <h1 class="size-50">Portfolio</h1>
        {{ page.tab }}
    </div>
</div> 
{{ page.bottom }}
{{ page.footer }}