body {
    font-size: 16px;
    line-height: 24px;
}

html,
body,
button,
input,
select,
textarea,
p,
a,
span,
ol,
ul,
li,
table {
    font-family: 'Gilroy-Medium', 'pingfang SC' !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Gilroy-Bold', 'pingfang SC' !important;
}

.inner {
    padding: 6rem 0;
}

@media(max-width:768px) {
    .inner {
        padding: 4rem 0;
    }
}


/* typography
==================================================*/

h1 {
    font-size: 6rem;
    line-height: 5rem;
}

h4 {
    text-transform: capitalize;
    letter-spacing: 2px;
    position: relative;
    color: #e91043;
    margin-left: 40px;
    font-weight: 700;
}

h4:before {
    position: absolute;
    width: 30px;
    left: -40px;
    content: "";
    display: block;
    height: 2px;
    background: #e91043;
    top: 9px;
}


/* General
==================================================*/

.size-50 {
    font-size: 4rem;
    line-height: 4rem;
}

.tlinks {
    text-indent: -9999px;
    height: 0;
    line-height: 0;
    font-size: 0;
    overflow: hidden;
}


/* preloader
==================================================*/

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    z-index: 10000
}

#status,
.preloader {
    top: 50%;
    left: 50%;
    position: absolute
}

#status {
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-position: center;
    margin: -50px 0 0 -50px
}

.preloader {
    height: 40px;
    width: 40px;
    margin-top: -20px;
    margin-left: -20px
}

.preloader:before {
    content: "";
    display: block;
    position: absolute;
    left: -1px;
    top: -1px;
    height: 100%;
    width: 100%;
    -webkit-animation: rotation 1s linear infinite;
    animation: rotation 1s linear infinite;
    border: 2px solid #e91043;
    border-top: 2px solid transparent;
    border-radius: 100%
}

.preloader>.icon {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 25px;
    width: 10.6px;
    margin-top: -12.5px;
    margin-left: -5.3px;
    -webkit-animation: wink 1s ease-in-out infinite alternate;
    animation: wink 1s ease-in-out infinite alternate
}

@media only screen and (min-width:768px) {
    .preloader {
        height: 60px;
        width: 60px;
        margin-top: -30px;
        margin-left: -30px
    }
    .preloader:before {
        left: -2px;
        top: -2px;
        border-width: 2px
    }
    .preloader>.icon {
        height: 37.5px;
        width: 15.9px;
        margin-top: -18.75px;
        margin-left: -7.95px
    }
}

@media only screen and (min-width:1200px) {
    .preloader {
        height: 60px;
        width: 60px;
        margin-top: -30px;
        margin-left: -30px
    }
    .preloader>.icon {
        height: 50px;
        width: 21.2px;
        margin-top: -25px;
        margin-left: -10.6px
    }
}

@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }
    to {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg)
    }
}

@keyframes rotation {
    from {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }
    to {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg)
    }
}

@-webkit-keyframes wink {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@keyframes wink {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}


/* Header
==================================================*/

header {
    text-align: center;
    -webkit-transition: all .5s;
    transition: all .5s;
    height: 65px;
}

nav ul {
    display: inline-block;
    padding-left: 0;
    list-style: none;
    padding: 20px;
    margin-bottom: 0;
    -webkit-transition: all .5s;
    transition: all .5s;
}

nav li {
    display: inline-block;
    margin: 10px;
}

nav li a {
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #444;
    font-size: 1rem;
    font-weight: bold;
}

.bg-nav {
    background: #fff;
    border-bottom: 1px solid #f3f3f3
}

.bg-nav ul {
    padding: 10px;
}

a:focus {
    color: #444;
    text-decoration: none;
}

a:hover {
    color: #e91043;
    text-decoration: none;
}

a.active {
    color: #e91043;
}


/* home section
==================================================*/

#home {
    background: url(http://mundocoin.lol/img/one/bg1.png);
    background-size: cover;
    height: 100vh;
}

.table-cell {
    display: table-cell;
    vertical-align: middle;
}

.table-cell h1,
.table-cell h2 {
    font-family: 'Gilroy-Medium', 'pingfang SC' !important;
    color: #e91043;
}

.disply-table {
    display: table;
    height: 100vh;
}


/* about section
==================================================*/

.about-img-div img {
    margin: 0 auto;
}


/* experience section
==================================================*/

#experience {
    background: #f3f3f3
}

.experience-row {
    padding: 20px 0;
    border-bottom: 1px solid #ddd;
}

.experience-row h3 {
    text-transform: capitalize;
    letter-spacing: 2px;
    color: #e91043;
    font-size: 1rem;
    font-weight: bold
}

.experience-row p {
    color: #888;
    margin-top: 20px;
    font-size: 1rem;
}

.experience-row .date {
    color: #000;
    font-size: 1.2rem;
}

.timeline {
    padding-left: 0;
    list-style: none;
    position: relative;
}

.timeline:before {
    background-color: black;
    content: '';
    margin-left: -1px;
    position: absolute;
    top: 0;
    left: 2em;
    width: 2px;
    height: 100%;
}

.timeline-event {
    position: relative;
}

.timeline-event:hover .timeline-event-icon {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    background-color: #e91043;
}

.timeline-event:hover .timeline-event-thumbnail {
    box-shadow: inset 40em 0 0 0 #e91043;
}

.timeline-event-copy {
    padding: 2em;
    position: relative;
    top: -1.875em;
    left: 4em;
    width: 100%;
}

.timeline-event-copy h3 {
    font-size: 1.75em;
}

.timeline-event-copy h4 {
    font-size: 1.2em;
    margin-bottom: 1.2em;
}

.timeline-event-copy strong {
    font-weight: 700;
}

.timeline-event-copy p:not(.timeline-event-thumbnail) {
    padding-bottom: 1.2em;
}

.timeline-event-icon {
    transition: -webkit-transform 0.2s ease-in;
    transition: transform 0.2s ease-in;
    transition: transform 0.2s ease-in, -webkit-transform 0.2s ease-in;
    transform: rotate(45deg);
    background-color: #e91043;
    outline: 10px solid #f3f3f3;
    display: block;
    margin: 0.5em 0.5em 0.5em -0.5em;
    position: absolute;
    top: 0;
    left: 2em;
    width: 1em;
    height: 1em;
}

.timeline-event-thumbnail {
    transition: box-shadow 0.5s ease-in 0.1s;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    background-color: black;
    box-shadow: inset 0 0 0 0em #e91043;
    display: inline-block;
    margin-bottom: 1.2em;
    padding: 0.25em 1em 0.2em 1em;
}


/* projects section
==================================================*/

.portfolio ul li {
    list-style: none;
    margin: 1rem 0;
}

.portfolio ul li a {
    display: inline-block;
    color: #60606e;
    padding: 0 10px;
    margin: 0 14px;
    -webkit-transition: all .2s ease-in-out .2s;
    transition: all .2s ease-in-out .2s;
}

.portfolio ul li a:hover,
.portfolio ul li a:focus {
    text-decoration: none;
}

.portfolio ul li a.active {
    background-color: #e91043;
    padding: 5px 10px;
    color: white;
    text-decoration: none;
}

@media(max-width:768px) {
    .portfolio ul li a {
        margin: 0 10px;
    }
}

.portfolio_filter {
    padding-left: 0;
}

.portfolio_item {
    position: relative;
    overflow: hidden;
    display: block;
    margin-bottom: 30px;
}

.portfolio_item:hover .item_info em,
.portfolio_item:hover .item_info span {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.portfolio ul li {
    float: left;
}

.portfolio ul li a {
    padding: 0 10px;
    -webkit-transition: all .2s ease-in-out .2s;
    transition: all .2s ease-in-out .2s;
}

.portfolio_filter {
    padding-left: 0;
    display: inline-block;
    margin: 0 auto;
    text-align: center;
}

.portfolio_item img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.portfolio-padding {
    padding: 50px 0;
}

.portfolio .one {
    padding-bottom: 2rem;
}

.portfolio .one img {
    display: block;
    width: 100% !important;
    height: 100% !important;
    border-radius: 8px;
    overflow: hidden;
    display: block;
    border: 0;
    box-sizing: border-box;
    transition: all .3s linear;
}

.portfolio .one img:hover {
    transform: translate(0, -8px);
    opacity: 0.8;
    -webkit-transform: scale(1.03);
    -ms-transform: scale(1.03);
    transform: scale(1.03);
}

@media(max-width:768px) {
    .works-tit ul {
        float: right;
    }
    .works-card {
        padding-top: 4rem;
        padding-bottom: 2rem;
    }
    .row {
        margin-right: -10px;
        margin-left: -10px;
    }
    .portfolio .one {
        padding-bottom: 1rem;
        padding-left: 10px;
        padding-right: 10px;
    }
    .portfolio .one img {
        border-radius: 4px;
    }
}


/* contact
==================================================*/

#contact {
    background: #f3f3f3
}


/* Responsive media queries
==================================================*/

@media (max-width: 991px) {
    .portfolio ul li a {
        padding: 0 2px;
    }
}

@media (max-width: 768px) {
    .timeline-event-copy {
        width: 90%;
        left: 2em;
    }
}

@media (max-width: 500px) {
    h1 {
        font-size: 50px;
        line-height: 50px;
    }
    #home,
    .disply-table {
        height: 600px;
    }
    .about-border {
        width: 265px;
    }
    .portfolio ul li {
        list-style: none;
        margin: 10px 0;
    }
}

@media (max-width: 420px) {
    nav li {
        margin: 6px;
    }
    nav li a {
        font-size: .9rem;
    }
}


/*------------------------
footer
------------------------*/

footer {
    padding: 2rem;
    background-color: #fff;
    text-align: center;
}

footer p,
footer a,
footer span {
    color: #999;
    font-size: 14px !important;
    margin: 0;
    padding: 0;
}

footer a:hover {
    color: #f3174a;
}

footer span {
    color: #ddd;
    padding: 0 6px;
}


/*------------------------
文章样式
------------------------*/

.node-body {
    margin-bottom: 4rem;
    border-radius: 8px;
    overflow: hidden;
}

.node-body img {
    width: 100%;
    height: auto;
}

.node-body .btn {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.node-body .field--name-field-imgs {
    border-radius: 8px;
    overflow: hidden;
}


/* 标题自动换行 */

.node-tit {
    word-wrap: break-word;
    margin-top: 8rem;
    margin-bottom: 2rem;
}

.node-tit h1 {
    font-size: 1.5rem;
}

@media(max-width:992px) {
    .node-tit {
        margin-top: 6rem;
        margin-bottom: 1.5rem;
    }
    .node-tit h1 {
        font-size: 1.4rem;
    }
}

@media(max-width:768px) {
    .node-tit {
        margin-top: 5rem;
        margin-bottom: 1rem;
    }
    .node-tit h1 {
        font-size: 1.2rem;
    }
}

@media(max-width:576px) {
    .node-tit h1 {
        font-size: 1rem;
    }
}


/* 页码 */

.pager__items {
    padding-left: 0;
}

.pager__items .is-active .btn {
    color: #fff;
    background: #fc3768;
    border: #fc3768;
}

.pager__item {
    padding: 0;
}

.pager__item .btn {
    padding: 8px 16px;
    margin-bottom: 8px;
}

.btn-light {
    color: #fff;
    background-color: #212427;
    border-color: #212427;
}

.btn-light:hover {
    color: #fff;
    background-color: #373c41;
    border-color: #373c41;
}

.btn-light.focus,
.btn-light:focus {
    color: #fff;
    background-color: #00d9ff;
    border-color: #00d9ff;
    box-shadow: 0;
}

.btn-light:not(:disabled):not(.disabled).active,
.btn-light:not(:disabled):not(.disabled):active,
.show>.btn-light.dropdown-toggle {
    color: #fff;
    background-color: #00d9ff;
    border-color: #00d9ff;
}